<!--<app-modal #settingsModal [modalTitle]="Check title">-->
  <!--&lt;!&ndash;<modal-content>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="text" placeholder="ph"/>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="text" placeholder="level" />&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="text" placeholder="temperature" />&ndash;&gt;-->
  <!--&lt;!&ndash;</modal-content>&ndash;&gt;-->
<!--</app-modal>-->
<ng-template let-modal #settingsModal>
  <div class="modal-header">
    <h4 class="modal-title">{{ modalTitle }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class= "modal-body">
    <div>
      <form [formGroup]="settingsForm">
        <div class="form-group">
          <label>refresh time: </label>
          <input type="text" formControlName="refresh"/>
        </div>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeSettings()">Save</button>
  </div>
</ng-template>

<div class="promos">
  <div class="promo">
    <div class="deal">
      <span>Temperature</span>
      <span>temperature of water in degrees Celsius</span>
    </div>
    <span class="price">{{ (results | async)?.temperature }}</span>
    <ul class="features">
      <li>Some great feature</li>
      <li>Another super feature</li>
      <li>And more...</li>
    </ul>
    <!--<button>Sign up</button>-->
  </div>
  <div class="promo scale">
    <div class="deal">
      <span>PH</span>
      <span>Point of Hydrogen</span>
    </div>
    <span class="price">{{ (results | async)?.pH }}</span>
    <ul class="features">
      <li>Some great feature</li>
      <li>Another super feature</li>
      <li>And more...</li>
    </ul>
    <button (click)="open(settingsModal)">Settings</button>
  </div>
  <div class="promo">
    <div class="deal">
      <span>Water Level</span>
      <span>Level of Water</span>
    </div>
    <span class="price">{{ (results | async)?.ultrasonic }}</span>
    <ul class="features">
      <li>Choose the one on the left</li>
      <li>We need moneyy</li>
      <li>And more...</li>
    </ul>
    <!--<button (click)="open(settingsModal)">Settings</button>-->
  </div>
</div>
